#popup_signin {
  max-width: 450px;
  width: 90%;
}

.sociales {
  text-align: center;
}
label.legend {
  font-size: 22px!important;
  text-align: center;
}

.loguineo a.social img{
  height: 20px;
}

.loguineo a.social{
  border-radius: 50%;
  display: inline-flex;
  margin: 6px 0;
  color: #fff;
  text-decoration: none;
  padding: 9px;
  border: 1px solid;
  margin-right: 10px;
  cursor: pointer;
}

.loguineo a.social.fb:hover{
  background:  #2D59A2;
}
.loguineo a.social.fb{
  background: #47c;
  border-color: #2D59A2;
}

.loguineo a.social.tw:hover{
  background:  #0AC;
}
.loguineo a.social.tw{
  background: #0cf;
  border-color: #0AC;
}

.loguineo a.social.gl:hover{
  background:  #AF3527;
}
.loguineo a.social.gl{
  background: #d43;
  border-color: #AF3527;
}

.olvido{
  font-size: 13px;
  color: #555;
  position: relative;
  margin: 8px 0 0;
  cursor: pointer;
  text-align: right;
  float: right;
}

.olvido:hover{
  text-decoration: underline;
}

.crear {
  background: #2bd873!important;
}
.crear:hover {
  background: #26c267!important;
}
.cuenta-buttons button {
  margin: 0 20px; 
}
.con-mail{
  border-top: 1px solid #c2c2c2;
  padding-top: 30px!important;
}
