body>section{
  display: flex;
}
body>section side-bar{
  width: 400px;
  border-right: 1px solid #CACACA;
}
body>section geo-map{
  flex: 1;
}
#arboles_data{
  position: relative;

}

.arbol-data{
  width: 70px;
}

.flickity-prev-next-button {
  background: rgba(156, 218, 125, 0.73)!important;
}
.flickity-prev-next-button.next {
  right:0!important;
}
.flickity-prev-next-button.previous {
  left:0!important;
}
.flickity-prev-next-button .arrow {
  fill: #fff!important;
}

#arboles_data_label{
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 13px;
  color: white;
}
#arboles_data_total{
  position: absolute;
  bottom: -22px;
  right: 5px;
  font-size: 12px;
  color: #6c9c54;
  background: white;
  border-radius: 15px;
  padding: 1px 6px;
}

.arbol-data {
  position: relative;
  padding: 15px;
}
.arbol-data:hover .arbol-nombre {visibility: visible;}
.arbol-data .arbol-nombre {
  visibility: hidden;
  position: absolute;
  top: -30px;
  width: 100%;
  text-align: center;
}
.arbol-data svg-icon{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.arbol-data svg-icon use{
  fill:#fff;
}
.arbol-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #ffe551;
  color: #565656;
  padding: 2px 6px;
  border-radius: 13px;
  border-radius: 13px;
  font-size: 12px;
  font-weight: bold;
}
#home_sidebar>header>h1 {
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  margin: 20px 0 28px;
}
#home_sidebar>header {
  background: #9cda7d;
  color: white;
  padding: 5px 5px 35px;
  border-bottom: 3px solid #87bd6b;
}

button.volver:hover {
  text-decoration: underline;
}
button.volver {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:#444;
}
button.volver svg-icon use{
 fill:#444; 
}
button.volver svg-icon{
  width: 40px;
  height: 40px;
}
.loguineo {
  margin: 30px;
  justify-content: center; 
}
.loguineo h1{
  color:#444;
}






.action-button {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  text-align: right;
  margin: 0;
}
.action-button svg-icon {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}






#cartel_info {
  background: white;
  box-shadow: 0px 2px 4px #555;
  border-radius: 3px;
  padding: 10px;
  text-align: right;
}
#cartel_info h1{
  text-align: left;
  font-weight: 100;
}
#ver_mas_info {
  border: 1px solid #3792B3;
  background: #44B2DA;
  color: #fff;
  cursor: pointer;
}
#ver_mas_info:hover{
  background: #3792B3;
}
#ver_mas_info svg-icon use{
  fill:#fff;
}




#cartel_suma {
  background: white;
  box-shadow: 0px 2px 4px #555;
  border-radius: 3px;
  padding: 10px;
  text-align: right;
}
#cartel_suma h1{
  text-align: left;
  font-weight: 100;
}
#suma_arboles_btn:hover {
  background: #419444;
}
#suma_arboles_btn{
  background: #4CAF50;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  padding: 7px 10px;
}
#suma_arboles_btn use{
  fill:#fff;
}








.action-content p.info {
  text-align: left;
  padding: 5px 0 15px;
  font-size: 15px;
  text-align: left;
  margin: 0;
  color: #555;
  line-height: 20px;
}

#cartel_evento {
  background: white;
  box-shadow: 0px 2px 4px #555;
  border-radius: 3px;
  padding: 0;
  text-align: right;
}
#cartel_evento button{
  background: #ff3660;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  padding: 7px 10px;
  margin: 0 10px 10px 0;
}
#cartel_evento button svg-icon{
  fill: #fff;
  height: 10px;
}
#cartel_evento .header-evento {
  display: flex;
  padding: 10px 5px;
}
#cartel_evento .header-evento h1{
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}
#cartel_evento .header-evento p.info{
  margin: 0;
  font-size: 13px;
  padding: 0;
  text-align: left;
  display: flex;
  align-items: center;
}
#cartel_evento .header-evento svg-icon[type="calendar.11"]{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#cartel_evento .header-evento svg-icon[type="calendar.11"] use{
  fill: #5f7177;
}
#cartel_evento .header-evento-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cartel_evento .header-evento-text p{
  color: #555;
}
#cartel_evento .header-evento-text svg-icon{
  height: 16px;
  width: 16px;
}
#cartel_evento .header-evento-text svg use {
  fill:#555;
}
#cartel_evento .content-evento-text {
  padding: 5px 10px 15px;
  font-size:15px;
  text-align: left;
  margin: 0;
  color: #555;
  line-height: 20px;
}


#cartel_evento.off *{
  color: #8a8a8a!important;
  fill: #777!important;
}
#cartel_evento.off button {
    background: #e4e4e4!important;
}
#cartel_evento.off button:hover {
  background: #c7c7c7!important;
}




#masInformacion section{
  width: 60%;
  height: 85%;
  padding:0;
  border: none;
}
#masInformacion section svg-icon[type="close"] {
  right: 14px;
}
#mas_info{
  display: flex;
  height: 100%;
  overflow: hidden;
}
#mas_info_side_menu{
  width: 133px;
  text-align: right;
  margin-right: 30px;
  color: white;
  background: #44B2DA;
  padding: 82px 20px 0 0;
}
#mas_info_text{
  flex: 1;
  text-align: justify;
  padding-right: 22px;
  overflow: auto;
  color:#444;
}
#mas_info_side_menu p {
  margin: 0 0 10px;
  cursor: pointer;
}
#mas_info_side_menu p.active {
  text-decoration: underline;
}
#mas_info_text>div{
  display: none;
  margin-top: 30px;
}
#mas_info_text>.active{
  display: block;
}
#mas_info_text>div>h1:first-child{
  margin: 0 0 20px;
  font-size: 30px;
}








#user_options {
  padding: 2px
}
#registrarseBtn {
  border: none;
  background: none;
  color: white;
  float: right;
  padding: 3px 7px;
  font-size: 13px;
}
#registrarseBtn:hover {
  text-decoration: underline;
}
#ingresarBtn:hover{
  background: #EFEFEF;
}
#ingresarBtn{
  background: white;
  border-radius: 2px;
  color: #7b7b7b;
  padding: 3px 7px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #ffffff;
}

#ingresarBtn svg-icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #75CFF0;
  border: 1px solid #75CFF0;
  margin-right: 5px;
  overflow: hidden;
}
#ingresarBtn svg-icon svg{
  position: relative;
  top: 4px;
}
#ingresarBtn svg-icon use{
  fill:#fff;
  transform: scale(1.8) translate(-4.5px, -3px);
}














#sideBar a.social svg-icon{
  width: 20px;
  height: 20px;
}

#sideBar a.social{
  border-radius: 3px;
  display: flex;
  margin: 6px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding: 4px;
  border:1px solid;
  cursor: pointer;
}

#sideBar a.social use{
  fill:#fff;
}

#sideBar a.social.fb:hover{
  background:  #2D59A2;
}
#sideBar a.social.fb{
  background: #47c;
  border-color: #2D59A2;
}

#sideBar a.social.tw:hover{
  background:  #0AC;
}
#sideBar a.social.tw{
  background: #0cf;
  border-color: #0AC;
}

#sideBar a.social.gl:hover{
  background:  #AF3527;
}
#sideBar a.social.gl{
  background: #d43;
  border-color: #AF3527;
}


form-vali > label{
  color: #555;
}
#loginForm{
    border-top: 1px solid #B5B5B5;
    margin-top: 20px;
}
.registrate{
    font-size: 13px;
    color: #555;
    position: relative;
    margin: 8px 0 0;
    cursor: pointer;
    text-align: right;
}

.registrate:hover{
  text-decoration: underline;
}
.nueva-cuenta:hover{
  background: #637588
}
.nueva-cuenta{
  background: #819BB7;
  font-size: 13px;
  margin: 10px 0;
  border-color: #637588;
  font-weight: bold;
}
#signupForm .info{
  border-top: 1px solid #B5B5B5;
  padding-top: 10px;
}
form-vali .info{
  font-size: 13px;
  color: #777;
  position: relative;
  margin: 8px 0 0;
  text-align: center;
}














#sponsors {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#sponsors a {
  width: 55px;
  height: 50px;
  display: inline-block;
  background-size: contain;
  margin-left: 18px; 
}
#A_2 {
  background: url("http://redcompostaje.org.ar/mod/theme_customizer_elgg_base/graphics//footer-logos/1.png") no-repeat;
}/*#A_2*/

#A_4 {
  background: url("http://redcompostaje.org.ar/mod/theme_customizer_elgg_base/graphics//footer-logos/3.png") no-repeat;
}/*#A_4*/

#A_5 {
  background: url("http://redcompostaje.org.ar/mod/theme_customizer_elgg_base/graphics//footer-logos/4.png") no-repeat;
}/*#A_5*/
#A_6 {
  background: url("http://redcompostaje.org.ar/mod/theme_customizer_elgg_base/graphics//footer-logos/5.png") no-repeat;
}/*#A_6*/
#A_8 {
  background: url("http://redcompostaje.org.ar/mod/theme_customizer_elgg_base/graphics//footer-logos/7.png") no-repeat;
}/*#A_8*/
