.loguineo {
  width: 100%;
  padding: 15px;
  justify-content: center; 
  box-sizing: border-box;
}
.loguineo h1{
  color: #444;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 33px;
}

label.legend {
  font-size: 22px!important;
  text-align: center;
}

.alert-login {
  background: #ff687b;
  color: white;
  padding: 10px!important;
  width: 100%;
  box-sizing: border-box;
  margin-top: -45px;
  font-weight: 500;
  bottom: 0;
  height: 50px;
  align-items: center;
}