#sidebar {
  width: 40%;
  min-width: 280px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 25px 25px 5px 25px;
}
#sidebar>h1 {
  font-size: 20px;
  font-weight: 400;
  color: #58595b;
  margin-bottom: 20px;
}
#sidebar>h1>span {
  color: #2bd873;
}

@media (max-width: 900px) {
  #sidebar {
    margin: 20px 5px 5px; 
  }
}