button#ingresarBtn:hover{
  background: #EFEFEF;
}
button#ingresarBtn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 10px;
  border: none;
  background: white;
  border-radius: 5px;
  color: #000;
  padding: 4px 8px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

button#ingresarBtn svg-icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #75CFF0;
  border: 1px solid #75CFF0;
  margin-right: 5px;
  overflow: hidden;
}

button#ingresarBtn svg-icon use{
  fill:#fff;
  transform: scale(1.8) translate(-4.5px, -3px);
}

#popUpHome a.social{
  border-radius: 3px;
  display: flex;
  margin: 6px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding: 4px;
  border:1px solid;
  cursor: pointer;
}

#popUpHome a.social use{
  fill:#fff;
}

#popUpHome a.social.fb:hover{
  background:  #2D59A2;
}
#popUpHome a.social.fb{
  background: #47c;
  border-color: #2D59A2;
}

#popUpHome a.social.tw:hover{
  background:  #0AC;
}
#popUpHome a.social.tw{
  background: #0cf;
  border-color: #0AC;
}

#popUpHome a.social.gl:hover{
  background:  #AF3527;
}
#popUpHome a.social.gl{
  background: #d43;
  border-color: #AF3527;
}


#loginForm{
    border-top: 1px solid #EFEFEF;
    margin-top: 20px;
}
.registrate{
    font-size: 13px;
    color: #555;
    position: relative;
    margin: 8px 0 0;
    cursor: pointer;
    text-align: right;
}

.registrate:hover{
  text-decoration: underline;
}
.nueva-cuenta:hover{
  background: #637588
}
.nueva-cuenta{
  background: #819BB7;
  font-size: 13px;
  margin: 10px 0;
  border-color: #637588;
  font-weight: bold;
}
#signupForm .info{
  border-top: 1px solid #EFEFEF;
  padding-top: 10px;
}
.info{
  font-size: 13px;
  color: #777;
  position: relative;
  margin: 8px 0 0;
  text-align: center;
}