#admin-arboles {
  margin-top: 10px;
}
#admin-arboles form {
  margin:0;
}
#admin-arboles .loguineo {
  padding:0;
}
#admin-arboles .form-field.tamagno{
  flex:3;
  margin-right: 30px;
}
#admin-arboles .form-field.tamagno label{
  position: relative;
}
.tamagno-label {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 16px;
  padding: 3px 10px;
  color: white;
  background: #2bd873;
}
#admin-arboles button{
  width: 100%;
  font-size: 16px;
}

#admin-arboles .close{
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: right;
  z-index: 99;
}
#admin-arboles .close:after{
  content: '\00d7';
}