#ayuda-form form button[type="submit"]{
  width: 130px;
  height: 37px;
  float: right;
}
#ayuda-form .loguineo {
  height: 100%;
}
/*#ayuda-form alert-msg>div{
  padding: 13px 30px;
  color: #555;
}
#ayuda-form alert-msg{
  background: #81ffbf;
  width: 100%;
  bottom:0;
}*/