form.voluntariado-form{
  padding: 0 30px;
}
form.voluntariado-form>button{
  width: 130px;
  height: 40px;
}

.form-alert>div{
  padding: 13px 30px;
  color: #555;
}
.form-alert{
  background: #81ffbf;
  width: 100%;
  bottom:0;
}