form[is="form-async"]{
    display: flex;
    flex-direction: column;
}
form[is="form-async"] label {
    margin: 13px 0 4px;
    font-size: 14px;
}
form[is="form-async"] input,
form[is="form-async"] textarea,
form[is="form-async"] select-input {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: white;
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
form[is="form-async"] textarea {
    height:4rem;
    padding: 0.5rem;
}
form[is="form-async"] > fieldset{
    display: flex;
}
form[is="form-async"] > button:hover{
    background: #008be5;
}
form[is="form-async"] > button {
    cursor: pointer;
    padding: 5px;
    margin: 10px 0 0;
    border: none;
    border-radius: 0.1rem;
    background: #009aff;
    color: white;
    font-size: 1.2rem;
}
h1 {
    font-size: 20px;
    margin: 10px 0px;
}
