dia-log>.close,
dia-log>.pop-close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: right;
  z-index: 99;
}
dia-log>.close:after,
dia-log .pop-close:after {
  content: '\00d7';
}
dia-log {
  padding: 0;
  border:0;
  display: none;
  position: relative;
}

dia-log.alert-msg {
  color: white;
  padding: 10px!important;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  align-items: center;
  position: absolute;
  bottom:9px;
}
dia-log.alert-msg.success {
  background: #2bd873;
}
dia-log.alert-msg.fail {
  background: #ff687b;
} 

#popups_layout{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background: rgba(111,111,111,0.4);
  top: 0;
  left: 0;
}
#popups_layout.open {
  z-index: 9;
}
dia-log[data-open-modal="open"] {
    display: flex;
    background: white;
}
dia-log[data-open="open"] {
  display: block;
  background: white;
}
.close:after {
  
}