@font-face {
   font-family: 'P22Underground';
   src: url(fonts/P22Underground-Heavy.otf);
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'P22Underground';
   src: url(fonts/P22Underground-Medium.otf);
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'P22Underground';
   src: url(fonts/P22Underground-Light.otf);
   font-weight: 400;
   font-style: normal;
}
html {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body, body>#root, body>#root>div {
  height: inherit;
  width: inherit;
  margin: inherit;
  padding: inherit;
  overflow: inherit;
}
body{
  font-family: P22Underground;
}
body>#root>div{
  display: flex;
}
button {
  font-family: P22Underground!important;
}
.hide {
  display: none!important;
}/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-user-drag: none;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
	max-width: none !important;
	}
/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
	max-width: 15000px !important;
	}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-tile-pane    { z-index: 2; }
.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane  { z-index: 5; }
.leaflet-marker-pane  { z-index: 6; }
.leaflet-popup-pane   { z-index: 7; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 7;
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	     -o-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-clickable {
	cursor: pointer;
	}
.leaflet-container {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	}


/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}


/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}
.leaflet-control-zoom-out {
	font-size: 20px;
	}

.leaflet-touch .leaflet-control-zoom-in {
	font-size: 22px;
	}
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 24px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(7cb0d2482ecadc1b80eb0abe457371b6.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(324b4fcaf164735c627269504b7bc28e.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: content-box;
	     box-sizing: content-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;

	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}
#mapa {
  flex: 1;
}
.leaflet-control-container {
  right: 50px;
  position: absolute;
}
.leaflet-container {
  background: #75cff0;
}.leaflet-div-icon {
  border: none; 
  width: 0!important;
  height: 0!important;
  position: relative;
  background: none;
}
.festi-marker {
  z-index: 999!important;
}
#festi_marker {
  display: flex;
  position: absolute;
  bottom: 0;
  background: #fff;
  font-family: P22Underground;
  width: 138px;
  margin-left: -61px;
  align-items: center;
  justify-content: center;
}
#festi_marker img {
  width: 30px;
  height: auto;
  margin: 0 5px;
}
#festi_marker span.title {
    color: #fff;
    line-height: 15px;
    font-size: 17px;
    font-weight: 500;
    padding: 7px;
    background: #ff687b;
}
#festi_marker span.triangle {
  width: 0;
  position: absolute;
  bottom: -8px;
  left: 59px;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #ff687b transparent transparent transparent;
}
#festi_marker .ver-mas{
  position: absolute;
  width: 98px;
  right: 0;
  top: 0px;
  background: #ff687b;
  z-index: -1;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: white;
}
#festi_marker .ver-mas img{
  transform: rotate(-90deg);
  height: 9px;
  width: 13px;
  margin: 4px 0 0 5px;
}
#festi_marker:hover .ver-mas {
  animation: sube 100ms ease-in;
  top: -18px;
}
@keyframes sube {
  0% {
    top:0;
  }
  100% {
    top:-18px;
  }
}.user_marker {
  position: relative;
}
.user_marker img{
  height: 48px;
  position: absolute;
  bottom: 0;
}
.user_marker .counter{
  position: absolute;
  bottom: -3px;
  right: -34px;
  background: #2bd873;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: white;
}#sidebar {
  width: 40%;
  min-width: 280px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: 25px 25px 5px 25px;
}
#sidebar>h1 {
  font-size: 20px;
  font-weight: 400;
  color: #58595b;
  margin-bottom: 20px;
}
#sidebar>h1>span {
  color: #2bd873;
}

@media (max-width: 900px) {
  #sidebar {
    margin: 20px 5px 5px; 
  }
}#sidebar_header {
  display: flex;
  justify-content: space-between;
}
#sidebar_header #sidebar_header_nav {
  color: #2bd873;
}
#sidebar_header #sidebar_header_nav button {
  border: none;
  background: none;
  color: inherit;
  font-size: 17px;
  cursor: pointer;
}
#sidebar_header #sidebar_header_nav button:hover {
  font-weight: bold;
}#sidebar_nav {
  display: flex;
}
#sidebar_nav>button{
  cursor: pointer;
  flex: 1;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: white;
  min-height: 140px;
  font-size: 16px;
  margin: 0;
}
#sidebar_nav_plantaciones {
  background: #ff687b;
}
#sidebar_nav_arbol {
  background: #ffbfb8;
}
#sidebar_nav_red {
  position: relative;
  background: #009aff;
}
#sidebar_nav button.active .underline{
  width: 77%;
  border-top: 2px solid white;
  margin: 5px auto 0;
}
#sidebar_nav button img {
  width: auto;
  height: 50px;
  margin: 0 auto 20px;
}
#sidebar_nav_red .counter {
  position: absolute;
  top: -18px;
  right: -18px;
  background: #2bd873;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
}

#sidebar_nav>button.active {
  font-size: 17px!important;
  animation: none!important;
}
#sidebar_nav>button.active img{
  animation: none!important;
  height: 55px!important;
  margin-bottom: 10px;
}

#sidebar_nav>button:hover {
  animation: growTxt 0.1s linear;
  font-size: 17px;
}
#sidebar_nav>button:hover>img{
  animation: growImg 0.1s ease-out;
  height: 55px;
}
@keyframes growTxt {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 17px;
  }
}
@keyframes growImg {
  0% {
    height: 50px;
  }
  100% {
    height: 55px;
  }
}

@keyframes growImgSm {
  0% {
    height: 30px;
  }
  100% {
    height: 35px;
  }
}

@media (max-height: 630px) {
  #sidebar_nav>button{
    min-height: 117px;
  }
  #sidebar_nav>button>img{
    height: 30px;
  }

  #sidebar_nav>button:hover>img{
    animation: growImgSm 0.1s ease-out;
    height: 35px;
  }
  #sidebar_nav>button.active img{
    height: 35px!important;
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  #sidebar_nav_red .counter {
    right: 4px;
  }  
  #sidebar_nav {
    margin:0 -5px;
  }
}#sidebar_body {
  flex:1;
  overflow: auto;
}
slider-box {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}
slider-box > article{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: white;
  transition: opacity .3s linear;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: none;
}
slider-box > article.active {
  opacity: 1;
  z-index: 9;
  display: block;
}

/* IN */
.de-izq {
  transform: translate3d(-100%, 0, 0);
}
.de-izq.active {
  transform: translate3d(0, 0, 0);
  animation: deizq .3s ease-out;
}
@keyframes deizq {
  0% {
    transform: translate3d(-100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-der {
  transform: translate3d(100%, 0, 0);
}
.de-der.active {
  transform: translate3d(0, 0, 0);
  animation: deder .3s ease-out;
}
@keyframes deder {
  0% {
    transform: translate3d(100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-arr {
  transform: translate3d(0, -100%, 0);
}
.de-arr.active {
  transform: translate3d(0, 0, 0);
  animation: dearr .3s ease-out;
}
@keyframes dearr {
  0% {
    transform: translate3d(0,-100%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-arr-s {
  transform: translate3d(0, -100%, 0);
}
.de-arr-s.active {
  transform: translate3d(0, 0, 0);
  animation: dearrs .2s ease-out;
}
@keyframes dearrs {
  0% {
    transform: translate3d(0,-10%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.action-content p.info {
  text-align: left;
  padding: 5px 0 15px;
  font-size: 15px;
  text-align: left;
  margin: 0;
  color: #555;
  line-height: 20px;
}

#cartel_evento {
  background: white;
  border-radius: 3px;
}
#cartel_evento button{
  cursor: pointer;
  background: #ff687b;
  color: #fff;
  font-size: 15px;
  border: none;
  padding: 7px 10px;
  margin: 0 10px 10px 0;
  float: right;
  border-radius: 3px;
  font-weight: 500;
}
#cartel_evento button:hover{
  background: #e85e70;
}
#cartel_evento button img{
  height: 11px;
  position: relative;
  top: 1px;
  left: 2px;
  transition: 100ms left ease-in;
}
#cartel_evento button:hover img {
  left: 6px;
}
#cartel_evento .header-evento {
  display: flex;
  padding: 20px 0 10px;
}
#cartel_evento .header-evento h1{
  margin: 8px 0 0 0;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  color: #444;
}
#cartel_evento .header-evento p.info{
  margin: 0;
  font-size: 13px;
}
#cartel_evento .header-evento p.info img{
  height: 17px;
  position: relative;
  top: 4px;
}
#cartel_evento p.bolder{
  text-align: left;
  padding: 0 3px;
  font-size: 15px;
  color: #555;
  font-weight: bold;
  margin-top: 10px;
}
#cartel_evento .header-evento>img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#cartel_evento .header-evento-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cartel_evento .header-evento-text p{
  color: #555;
}
#cartel_evento .header-evento-text>img{
  height: 16px;
  width: 16px;
}
#cartel_evento .content-evento-text {
  padding: 5px 3px 0;
  font-size:15px;
  text-align: left;
  margin: 0;
  color: #555;
  line-height: 20px;
}


#cartel_evento.off *{
  color: #8a8a8a!important;
  fill: #777!important;
}
#cartel_evento.off button {
    background: #e4e4e4!important;
}
#cartel_evento.off button:hover {
  background: #c7c7c7!important;
}
#cartel_suma {
  background: white;
  border-radius: 3px;
  text-align: left;
  position: relative;
  padding-top: 20px;
}
#cartel_suma p{
  padding: 5px 0 15px;
  font-size:15px;
  text-align: left;
  margin: 0;
  color: #555;
  line-height: 20px;
}
#cartel_suma h1{
  color: #444;
  text-align: left;
  font-weight: 100;
  font-size: 22px;
  padding: 0 0 5px 0 ;
  margin: 0; 
}
#suma_arboles_btn:hover {
  background: #28c56a;
}
#suma_arboles_btn{
  background: #2bd873;
  fill: #fff;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  float: right;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 500;
}
#suma_arboles_btn img{
  height: 25px;
  width: 25px;
  margin-left: 10px;
}#la_red {
  padding-top: 20px;
}
#la_red h1 {
  display: inline-block;
  color: #555;
  padding: 10px 0;
  text-align: left;
  font-weight: 100;
  font-size: 22px;
  margin: 0;
  padding: 0 0 10px 0;
}
#lista_nuestros_arboles_cabecera {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
  color: #555;
  border-top: 1px solid #e8e8e8;
}
#lista_arboles_red{
  overflow: auto;
}
#lista_arboles_red>.fila-arbol{
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  display: flex;
  color: white;
}#sidebar_footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#social_links a:last-child {
  margin-left: 10px;
}
#social_links img {
  height: 20px;
}

@media (max-height: 630px) {
  #sidebar_footer>img {
    height: 44px;
  }
}#popup_signin {
  max-width: 450px;
  width: 90%;
}

.loguineo {
  width: 100%;
  padding: 15px;
  justify-content: center; 
  box-sizing: border-box;
}
.loguineo h1{
  color: #444;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 33px;
}
.sociales {
  text-align: center;
}
label.legend {
  font-size: 22px!important;
  text-align: center;
}

.loguineo a.social img{
  height: 20px;
}

.loguineo a.social{
    border-radius: 50%;
    display: inline-flex;
    margin: 6px 0;
    color: #fff;
    text-decoration: none;
    padding: 9px;
    border: 1px solid;
    margin-right: 10px;
    cursor: pointer;
}

.loguineo a.social.fb:hover{
  background:  #2D59A2;
}
.loguineo a.social.fb{
  background: #47c;
  border-color: #2D59A2;
}

.loguineo a.social.tw:hover{
  background:  #0AC;
}
.loguineo a.social.tw{
  background: #0cf;
  border-color: #0AC;
}

.loguineo a.social.gl:hover{
  background:  #AF3527;
}
.loguineo a.social.gl{
  background: #d43;
  border-color: #AF3527;
}

.olvido{
  font-size: 13px;
  color: #555;
  position: relative;
  margin: 8px 0 0;
  cursor: pointer;
  text-align: right;
  float: right;
}

.olvido:hover{
  text-decoration: underline;
}
/*.nueva-cuenta:hover{
  background: #637588
}
.nueva-cuenta{
  background: #819BB7;
  font-size: 13px;
  margin: 10px 0;
  border-color: #637588;
  font-weight: bold;
}
#signupForm .info{
  border-top: 1px solid #B5B5B5;
  padding-top: 10px;
}
form-vali .info{
  font-size: 13px;
  color: #777;
  position: relative;
  margin: 8px 0 0;
  text-align: center;
}*/

.crear {
  background: #2bd873!important;
}
.cuenta-buttons button {
  margin: 0 20px; 
}
.con-mail{
  border-top: 1px solid #c2c2c2;
  padding-top: 30px!important;
}dialog[is="pop-up"]>img[src="close.svg"],
dialog[is="pop-up"]>img[src="close-fff.svg"]{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 14px;

}
dialog[is="pop-up"] {
  padding: 0;
  border:0;
}
dialog[is="pop-up"] + .backdrop {
  background-color: rgba(0,0,0,0.4);
}

dialog[is="pop-up"]::backdrop {
  background-color: rgba(0,0,0,0.4);
}/*#popup_signin {
  max-width: 450px;
  width: 90%;
}

.loguineo {
  width: 100%;
  padding: 15px;
  justify-content: center; 
  box-sizing: border-box;
}
.loguineo h1{
  color: #444;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 33px;
}

.loguineo a.social img{
  height: 16px;
  margin-right: 9px;
}

.loguineo a.social{
  border-radius: 3px;
  display: flex;
  margin: 6px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding: 4px;
  border:1px solid;
  cursor: pointer;
}

.loguineo a.social.fb:hover{
  background:  #2D59A2;
}
.loguineo a.social.fb{
  background: #47c;
  border-color: #2D59A2;
}

.loguineo a.social.tw:hover{
  background:  #0AC;
}
.loguineo a.social.tw{
  background: #0cf;
  border-color: #0AC;
}

.loguineo a.social.gl:hover{
  background:  #AF3527;
}
.loguineo a.social.gl{
  background: #d43;
  border-color: #AF3527;
}


form-vali > label{
  color: #555;
}
#loginForm{
    border-top: 1px solid #B5B5B5;
    margin-top: 20px;
}
.registrate{
    font-size: 13px;
    color: #555;
    position: relative;
    margin: 8px 0 0;
    cursor: pointer;
    text-align: right;
}

.registrate:hover{
  text-decoration: underline;
}
.nueva-cuenta:hover{
  background: #637588
}
.nueva-cuenta{
  background: #819BB7;
  font-size: 13px;
  margin: 10px 0;
  border-color: #637588;
  font-weight: bold;
}
#signupForm .info{
  border-top: 1px solid #B5B5B5;
  padding-top: 10px;
}
form-vali .info{
  font-size: 13px;
  color: #777;
  position: relative;
  margin: 8px 0 0;
  text-align: center;
}
*/#festi_flyer img[src="flyer.svg"]{
  height: 90vh
}#popup_festi > img {
  z-index: 999;
}
#popup_festi > div {
  background: white;
  height: 90vh;
  width: 45vw;
  min-width: 620px;
  display: flex;
  flex-direction: column;
}
/* HEADER */
#popup_festi .header-wrapper header {
  display: flex;
  align-items: center;
  min-height: 150px;
  background: rgba(50, 50, 50, 0.3);
}
#popup_festi .header-wrapper header img[src="fecha.svg"]{
  height: 80px;
  margin: 0 20px 5px;
}
#popup_festi .header-wrapper header .header-info{
  flex: 1;
  color: white;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#popup_festi .header-wrapper header .header-info h1{
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}
#popup_festi .header-wrapper header .header-info p{
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
#popup_festi .header-wrapper header .info img{
  height: 14px;
  position: relative;
  top: 2px;
  width: 20px;
  left: -2px;
}
/* NAV */
#popup_festi .header-wrapper nav {
  display: flex;
  height: 45px;
}
#popup_festi .header-wrapper nav > button,
#popup_festi .header-wrapper nav > a {
  flex: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  background: rgba(156, 156, 156, 0.56);
}
#popup_festi .header-wrapper nav > button.nav {
  flex-direction: column;
  justify-content: center;
}
#popup_festi .header-wrapper nav > button.active .underline{
  width: 77%;
  border-top: 2px solid white;
  margin: 5px auto 0;
}
#popup_festi_nav_fb img {
  height: 14px;
  margin: 0 5px 5px 0;
}

.header-wrapper {
  background-size: cover;
  background-position: 0 -46px;
  background-image: url('https://scontent-eze1-1.xx.fbcdn.net/v/t1.0-9/13668980_307045799640587_3924001513710668004_n.jpg?oh=077dad91568f842d79c0d35899c5f398&oe=5853330B');
}#popup_festi_content_info button{
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #ff1b4b;
  fill: #ff1b4b;
}
#popup_festi_content_info button svg-icon{
  height: 13px;
}
#popup_festi_content_info {
  padding: 30px 70px;
  height: 100%;
  box-sizing: border-box;
}
#popup_festi_content_info p {
  font-size: 18px;
  color: #444;
  margin: 10px 0 0;
}    
#popup_festi_content_info p.info {
  font-style: italic;
  margin: 0 0 10px;
}#popup_festi_content_crono {
  padding: 0 50px;
  box-sizing: border-box;
  color: #555;
}

.fila-crono {
    display: flex;
    align-items: baseline;
}
#volver_a_intro{
  position: absolute;
  right: 10px;
  bottom: -5px;
  border: none;
  background: transparent;
  color: #989898;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 4px;
}
#volver_a_intro svg-icon{
  fill: #989898;
  width: 9px;
  height: 9px;
}
span.hora-crono {
    width: 30px;
}

span.linea-crono {
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 7px;
    position: relative;
    left: 6px;
    background: #ffe551;
}
.content-crono {
    border-left: 2px solid #ffe551;
    flex: 1;
    padding-left: 13px;
}
.fila-crono:nth-of-type(1) h2{
  margin-top: 25px;
}
.content-crono h2{
  font-weight: 100;
  margin: 17px 0 0;
}

.content-crono p{
  margin: 0;
}form.voluntariado-form{
  padding: 0 30px;
}
form.voluntariado-form>button{
  width: 130px;
  height: 40px;
}

.form-alert>div{
  padding: 13px 30px;
  color: #555;
}
.form-alert{
  background: #81ffbf;
  width: 100%;
  bottom:0;
}form[is="form-async"]{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  box-sizing: border-box;
}
form[is="form-async"] label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
form[is="form-async"] input,
form[is="form-async"] textarea,
form[is="form-async"] select {
    font-family: P22Underground;
    font-size: 15px;
    border: 1px solid #b3b3b3;
    background-color: white;
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    width: 100%;
}
form[is="form-async"] select {
    cursor: pointer;
}
form[is="form-async"] option.default {
  display: none;
}
form[is="form-async"] textarea {
    height:4rem;
    padding: 0.5rem;
}
form[is="form-async"] button:hover{
    background: #008be5;
}
form[is="form-async"] button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 0.1rem;
    background: #009aff;
    color: white;
    font-size: 1.2rem;
  align-self: flex-end;
  margin: 20px;
}
h1 {
    font-size: 20px;
    margin: 10px 0px;
}

form[is="form-async"] .form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
form[is="form-async"] .form-row-field {
  margin: 10px 0px;
  padding: 10px 20px 0;
}
form[is="form-async"] .form-field{
  flex: 1;
  padding: 10px 20px;
}
form[is="form-async"]>div:last-of-type {
  flex: 1;
}dialog[is="alert-msg"]>img[src="close.svg"],
dialog[is="alert-msg"]>img[src="close-fff.svg"]{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 14px;
}
dialog[is="alert-msg"] {
  padding: 0;
  border:0;
}
#popup_info > img {
  z-index: 999;
}
#popup_info > div {
  background: white;
  height: 90vh;
  width: 60vw;
  display: flex;
}
#popup_info > div > nav {
  display: flex;
  width: 30%;
  flex-direction: column;
  min-width: 140px;
}
#popup_info > div > nav > button {
  margin: 0;
  flex: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
#popup_info > div > nav > button.active .underline{
  width: 77%;
  border-top: 2px solid white;
  margin: 5px auto 0;
}
#popup_info_nav_intro, #popup_info_content_intro {
  background: #2bd873;
}
#popup_info_nav_porq, #popup_info_content_porq {
  background: #5fedd5;
}
#popup_info_nav_mapa, #popup_info_content_mapa {
  background: #ec9c55;
}
#popup_info_nav_fest, #popup_info_content_fest {
  background: #ffbfb8;
}
#popup_info > div > slider-box > article{
  display: flex;
  align-items: center;
}
#popup_info > div > slider-box > article > .text{
  padding: 50px;
  font-size: 18px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  color: white;
}
#popup_info > div > nav > button.active {
  font-size: 17px!important;
  animation: none!important;
}

#popup_info > div > nav > button:hover {
  animation: growTxt 0.1s linear;
  font-size: 17px;
}
@keyframes growTxt {
  0% {
    font-size: 15px;
  }
  100% {
    font-size: 17px;
  }
}