@font-face {
   font-family: 'P22Underground';
   src: url('../assets/fonts/P22Underground-Heavy.otf');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'P22Underground';
   src: url('../assets/fonts/P22Underground-Medium.otf');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'P22Underground';
   src: url('../assets/fonts/P22Underground-Light.otf');
   font-weight: 400;
   font-style: normal;
}
html {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body, body>#root, body>#root>div {
  height: inherit;
  width: inherit;
  margin: inherit;
  padding: inherit;
  overflow: inherit;
}
body{
  font-family: P22Underground;
}
body>#root>div{
  display: flex;
}
button {
  font-family: P22Underground!important;
}