#popup_festi > img {
  z-index: 999;
}
#popup_festi > div {
  background: white;
  height: 90vh;
  width: 45vw;
  min-width: 620px;
  display: flex;
  flex-direction: column;
}
/* HEADER */
#popup_festi > div > header {
  display: flex;
  align-items: center;
  min-height: 109px;
}
#popup_festi > div > header img[src="fecha.svg"]{
  height: 80px;
  margin: 0 20px;
}
#popup_festi > div > header .header-info{
  background: #ff687b;
  flex: 1;
  color: white;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
#popup_festi > div > header .header-info h1{
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
#popup_festi > div > header .header-info p{
  margin: 0;
  font-size: 15px;
}
#popup_festi > div > header .info img{
  height: 14px;
  position: relative;
  top: 2px;
  width: 20px;
  left: -2px;
}
/* NAV */
#popup_festi > div > nav {
  display: flex;
  height: 60px;
}
#popup_festi > div > nav > button,
#popup_festi > div > nav > a {
  flex: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}
#popup_festi > div > nav > button.nav {
  flex-direction: column;
  justify-content: center;
}
#popup_festi > div > nav > button.active .underline{
  width: 77%;
  border-top: 2px solid white;
  margin: 5px auto 0;
}
#popup_festi_nav_fb img {
  height: 14px;
  margin-right: 5px;
}

#popup_festi_nav_info {
  background: #ff7d5f;
}
#popup_festi_nav_crono {
  background: #fff478;
  color:#555!important;
}
#popup_festi_nav_crono.active .underline {
  border-color: #555!important;
}
#popup_festi_nav_fb {
  background: #153add;
}
#popup_festi_nav_ayuda {
  background: #ff3642;
}


/* CONTENT */
/*#popup_festi > div > slider-box > article{
  display: flex;
  align-items: center;
}
#popup_festi > div > slider-box > article > .text{
  padding: 50px;
  font-size: 18px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  color: white;
}*/