#popup_festi > img {
  z-index: 999;
}
#popup_festi > div {
  background: white;
  height: 90vh;
  width: 45vw;
  min-width: 620px;
  display: flex;
  flex-direction: column;
}
/* HEADER */
#popup_festi .header-wrapper header {
  display: flex;
  align-items: center;
  min-height: 150px;
  background: rgba(50, 50, 50, 0.3);
}
#popup_festi .header-wrapper header img[src="fecha.svg"]{
  height: 80px;
  margin: 0 20px 5px;
}
#popup_festi .header-wrapper header .header-info{
  flex: 1;
  color: white;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#popup_festi .header-wrapper header .header-info h1{
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}
#popup_festi .header-wrapper header .header-info p{
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
#popup_festi .header-wrapper header .info img{
  height: 14px;
  position: relative;
  top: 2px;
  width: 20px;
  left: -2px;
}
/* NAV */
#popup_festi .header-wrapper nav {
  display: flex;
  height: 45px;
}
#popup_festi .header-wrapper nav > button,
#popup_festi .header-wrapper nav > a {
  flex: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  background: rgba(156, 156, 156, 0.56);
}
#popup_festi .header-wrapper nav > button.nav {
  flex-direction: column;
  justify-content: center;
}
#popup_festi .header-wrapper nav > button.active .underline{
  width: 77%;
  border-top: 2px solid white;
  margin: 5px auto 0;
}
#popup_festi_nav_fb img {
  height: 14px;
  margin: 0 5px 5px 0;
}

.header-wrapper {
  background-size: cover;
  background-position: 0 -46px;
  background-image: url('~/vela.jpg');
}