drop-down {
  position: relative;
}
drop-down aside {
  display: none;
  background: white;
  color: #444;
  fill: #444;
  width: 100px;
  position: absolute;
  right: 0;
  top: 25px;
  border-radius: 2px;
  box-shadow: 0px 2px 5px #444;
}
drop-down [type="checkbox"]:checked ~ aside {
  display: block;
}
drop-down aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
drop-down aside ul li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
drop-down aside ul li:hover {
  background: #389dc1;
  color: white;
  fill:white;
}