#admin-arboles {
  margin-top: 10px;
}
#admin-arboles form {
  margin:0;
}
#admin-arboles .loguineo {
  padding:0;
}
#admin-arboles .form-field{
  padding: 10px 0;
}
#admin-arboles .form-field.submit-btn{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
#admin-arboles button{
  font-size: 28px;
  padding: 0px 9px;
  margin: 0 0 8px 30px;
}
#admin-arboles .form-field.tamagno{
  flex:2;
  margin-right: 30px;
}
#admin-arboles .form-field.tamagno label{
  position: relative;
}
.tamagno-label {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 16px;
  padding: 3px 10px;
  color: white;
  background: #2bd873;
}

#admin-arboles .close{
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
  font-size: 30px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: right;
  z-index: 99;
}
#admin-arboles .close:after{
  content: '\00d7';
}