#sidebar_header {
  display: flex;
  justify-content: space-between;
}
#sidebar_header_nav {
  color: #2bd873;
  display: flex;
  align-items: center;
}
#sidebar_header_nav button,
#sidebar_header_nav drop-down{
  border: none;
  background: none;
  color: inherit;
  font-size: 17px;
  cursor: pointer;
}
#sidebar_header_nav button:hover,
#sidebar_header_nav drop-down:hover{
  font-weight: 500;
}
#sidebar_header_nav drop-down{
  padding-left: 8px;
}
#sidebar_header_nav drop-down dia-log{
  padding: 0;
  top: 23px;
  right: -15px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 4px 7px 0px #aeaeae;
}
#sidebar_header_nav drop-down dia-log button{
  padding: 3px 10px;
  width: 100%;
  text-align: left;
}
#sidebar_header_nav drop-down dia-log button:hover{
  font-weight: 400;
  background: #2bd873;
  color:white;
}
