slider-box {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
slider-box > article{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: white;
    transition: opacity .3s linear;
    opacity: 0;
}
slider-box > article.active {
  opacity: 1;
  z-index: 9;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.de-izq {
  transform: translate3d(-100%, 0, 0);
}
.de-izq.active {
  transform: translate3d(0, 0, 0);
  animation: deizq .3s ease-out;
}
@keyframes deizq {
  0% {
    transform: translate3d(-100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-der {
  transform: translate3d(100%, 0, 0);
}
.de-der.active {
  transform: translate3d(0, 0, 0);
  animation: deder .3s ease-out;
}
@keyframes deder {
  0% {
    transform: translate3d(100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-arr {
  transform: translate3d(0, -100%, 0);
}
.de-arr.active {
  transform: translate3d(0, 0, 0);
  animation: dearr .3s ease-out;
}
@keyframes dearr {
  0% {
    transform: translate3d(0,-100%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-arr-s {
  transform: translate3d(0, -100%, 0);
}
.de-arr-s.active {
  transform: translate3d(0, 0, 0);
  animation: dearrs .2s ease-out;
}
@keyframes dearrs {
  0% {
    transform: translate3d(0,-10%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

