html, body, body>section {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    font-family: sans-serif;
}
button{
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background: #FFF;
    color: #171717;
    padding: 4px 8px;
    cursor: pointer;
}
.hide{display:none!important;}svg-icon svg{
  height: inherit;
  width: inherit;
}
svg-icon {
  width: 1em;
  height: 1em;
}form-vali{
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 20px;
    margin: 10px 0px;
}
form-vali > label {
    margin: 13px 0 4px;
    font-size: 13px;
    font-weight: bold;
}
form-vali > label > .error-msg{
    float: right;
    font-size: 12px;
    color: #FF5D5D;
}
form-vali > input, form-vali > textarea, form-vali > select-input {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: white;
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
form-vali > input.has-error, form-vali > textarea.has-error, form-vali > select-input.has-error{
    border: 1px solid #FFA7A7;
}
form-vali > textarea {
    height:4rem;
    padding: 0.5rem;
}
form-vali > button:hover{
    background: #3F8EE5;
}
form-vali > button {
    cursor: pointer;
    padding: 5px;
    margin: 10px 0 0;
    border: 1px solid #3F8EE5;
    border-radius: 0.1rem;
    background: #62ADFF;
    color: white;
    font-size: 1.2rem;
}
form-vali>.inline-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 0;
}
form-vali>.notification-msg.success {
    background: #B4E59D;
    color: #565656;
    fill: #565656;
    font-weight: 700;
}
form-vali>.notification-msg.error {
    background: #ec402e;
    fill: #fff;
    color: #fff;
    font-weight: 700;
}alert-msg {
    font-size: 13px;
    padding: 5px;
    border-radius: 2px;
    display: none;
    text-align: center;
    margin: 16px 0 0;
    align-items: center;
    justify-content: space-between;
}
alert-msg.show {
    display: flex;
}
alert-msg>[type="close"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}pop-up{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    box-sizing: border-box;
    align-items: center;
    z-index: 9999;
    padding: 0 10px;
    justify-content: center;
	display: none;
}

pop-up.active{
	display: flex;
}

pop-up>section{
    height: auto;
    max-height: 95%;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 10px #555;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}
pop-up>section>svg-icon[type="close"]{
    position: absolute;
    top:4px;
    right: 0;
    cursor: pointer;
}
pop-up>section>svg-icon{
    height: 25px;
    width: 25px;
}
pop-up>section>article{
	display: none;
}

pop-up>section>article.active{
	display: block;
}/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-map-pane svg,
.leaflet-map-pane canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer {
	max-width: none !important;
	}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	     -o-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive {
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}


/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}
.leaflet-control-zoom-out {
	font-size: 20px;
	}

.leaflet-touch .leaflet-control-zoom-in {
	font-size: 22px;
	}
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 24px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAACgklEQVR4AWL4jwNWMlYy4pLDIbxC/WTNyZoV6kRr6uXeH39/6ksgvD91f3wvNxGaNthf6QBpADRSDbCVhEH49WyHh9iNGp8VncLGbNQ46ezZV9u2bf7v8Fj3sfb2bBs7N8sa+YKZT+tV0RdSc2zJUN6+Nnih2jW8SGyDvH0LhsLX6b3H4lTjyyx+iB96maXuY3F67/B1c0KVXg7/6e4nhomf4ziOEz+fGKZZh3+llxZK3WPxfZKkSs9LJ19QQMPki+elWlmSxTd1D4Uazw5FaieVNuUc/6faNfybcr5MUz1DkY1nddfb2hXiafPEF7IsiIkvT5tlV3va9Tad3wVuOLKCL+R5EpcEz/OFkRXcsN8FuqboHZEmf0FP9NLQo78QaYreQddkP2YbsOEjDMEEdCwacJAaQi4b2gbsx3T+FutbGrEHy/AOluLI3AAxpaSUkcNGsL71t4jX5M4y9wgi0Y5JGIymWRETMUmkSMVClplzS9cUtD3YEPiPiTShBQMwHfukQB9NAcTICsNAIcQStYuuiR1iboaVJCarfZiPd7GGcJcm+aTaSQ0gF0M2zE7rbpvrXtFIfVl05uVKqwWjCRZlKyclixyMUP/urlkHF7i+OFPLP5FowCgMQ4No1GAgJooUJkJIsnBOEK8JNkPoZXfJAJGEErxHrd1SoJume8TISvnoFRuEwmbtLQdPMAWYGj/LJ5pC1nrCPZrkk2r6FmwEA3jO+Z7AA3y4gbQ2ubUWQwi1KG9ZnRfd4AMeC365sBsyr3VX8WTUUPPsRjtkwu4l/xFwmLOFG5p/Sif6J9rIdcHhFfyNYA1cutifZyt0X3LBJViz4v8eHIAaqIYDC6v/ATYpogcwr42eAAAAAElFTkSuQmCC);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(4f0283c6ce28e888000e978e537a6a56.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}
geo-map, geo-map>#mapContainer{
	width: 100%;
	height: 100%;
}

geo-map>#mapContainer svg{
	position: static;
}

.leaflet-popup-content-wrapper {
    border-radius: 3px;
    padding: 0;
}
.leaflet-popup-content{
  margin: 0;
}
event-pop>section{
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
}

event-pop .small-pop svg-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
event-pop .small-pop svg-icon use{
  fill: #5f7177;
}
event-pop .small-pop {
  background: white;
  padding: 5px;
}
event-pop .small-pop p {
  margin: 0;
  display: flex;
  align-items: center;
  color:#555;
}
event-pop .small-pop use {
  fill:#555; 
}
event-pop .small-pop h1 {
  margin: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 15px;
  line-height: 16px;
  max-width: 80px;
}
.leaflet-popup:hover .leaflet-popup-content-wrapper, .leaflet-popup:hover .leaflet-popup-tip{
  background: #ff3660;
}
.leaflet-popup.expanded:hover .leaflet-popup-content-wrapper, .leaflet-popup.expanded:hover .leaflet-popup-tip{
  background: #fff;
}
.leaflet-popup{
  cursor: pointer;
}
.leaflet-popup.expanded{
 cursor: auto; 
}
.leaflet-popup:hover event-pop>section {
  height: 55px;
  animation: plus-up .1s linear;
}
.leaflet-popup:hover svg-icon[type="mas"] {
  display: block;
}
.leaflet-popup.expanded:hover svg-icon[type="mas"] {
  display: none;
}
event-pop svg-icon[type="mas"] {
  width: 24px;
  height:24px;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -12px;
  z-index: 9;
  fill:#fff;
}
event-pop>section>article {
  position: absolute;
  height: 0;
  overflow: hidden;
  display: none;
  bottom: 20px;
  left: 50%;
  margin-left: -200px;
  width: 0;
  box-shadow: 0px 3px 10px #555;
  border-radius: 2px;
  background: #fff;
  cursor: auto;
}
event-pop>section>article.active ~ svg-icon[type="mas"] {
  display: none;
}
event-pop>section>article.active {
  display: block;
  height: 444px;
  width: 400px;
  animation: expand .5s ease-out;
}
event-pop>section>article.active .expanded-pop-wrapper {
  width: 400px;
  position: absolute;
  top: 0;
  animation: aparece .3s linear;
  height: 100%;
  display: flex;
  flex-direction: column;
}
event-pop>section>article .expanded-pop-wrapper>header{
  background: #17a000;
  color: #fff;
  padding: 11px;
}
event-pop>section>article .expanded-pop-wrapper>header p.info{
  margin: 0;
  font-size: 14px;
  color: #fff;
  fill: #fff;
}
event-pop>section>article .expanded-pop-wrapper>header h1{
  margin: 0;
  font-weight: 100;
  font-size: 30px;

}
event-pop header>svg-icon[type="close"]{
  fill: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  cursor: pointer;
  height: 30px;
}










.intro-wrapper button{
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #ff1b4b;
  fill: #ff1b4b;
}
.intro-wrapper button svg-icon{
  height: 13px;
}
.intro-wrapper {
  padding: 15px 10px;
  height: 100%;
  box-sizing: border-box;
}
.intro-wrapper p {
  font-size: 15px;
  color: #444;
  margin: 10px 0 0;
}    
.intro-wrapper p.info {
  font-size: 15px;
  color: #929292;
  font-style: italic;
  margin: 0 0 20px;
}


.cronograma-wrapper {
      display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.fila-crono {
    display: flex;
    align-items: baseline;
}
#volver_a_intro{
  position: absolute;
  right: 10px;
  bottom: -5px;
  border: none;
  background: transparent;
  color: #989898;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 4px;
}
#volver_a_intro svg-icon{
  fill: #989898;
  width: 9px;
  height: 9px;
}
span.hora-crono {
    width: 30px;
}

span.linea-crono {
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 7px;
    position: relative;
    left: 6px;
    background: #ffe551;
}
.content-crono {
    border-left: 2px solid #ffe551;
    flex: 1;
    padding-left: 13px;
}
.fila-crono:nth-of-type(1) h2{
  margin-top: 25px;
}
.content-crono h2{
  font-weight: 100;
  margin: 17px 0 0;
}

.content-crono p{
  margin: 0;
}
.expanded-pop-content {
  width: 100%;
  flex:1;
}
.expanded-pop-footer{
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 10px 10px;
}

#quiero_ayudar:hover{
  background: #E4CE4C;
}
#quiero_ayudar{
  background: #FFE551;
  color: #444;
  font-size: 14px;
  margin: 1px;
  border: none;
}
#ver_evento_facebook:hover{
  background: #2D59A2;
}
#ver_evento_facebook {
  background: #47c;
  color: white;
  float: right;
  border: none; 
}
#ver_evento_facebook svg-icon svg{
  transform: scale(2) translateY(1px);
  margin-right:5px; 
}
#ver_evento_facebook svg-icon use {
  fill: #fff;
}





@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    height: 0px;
    width: 80px;
    margin-left: 0;
  }

  30% {
    width: 400px;
    margin-left: -200px;
  }

  100% {
    height: 444px;
  }
}
@keyframes plus-up {
  0% {
    height: 40px;
  }
  100% {
    height: 55px;
  }
}
@keyframes plus-down {
  0% {
    opacity: 55px;
  }
  100% {
    opacity: 40px;
  }
}

#asignarPlantin {
  position: absolute;
  top: 67px;
  right: 17px;
  fill: #fff;
  border-radius: 50%;
  background: #ff1b4b;
  height: 50px;
  width: 50px;
  z-index: 10;
  border: 1px solid #ff1b4b;
}
#asignarPlantin:hover {
  box-shadow: 1px 1px 6px #555;
}
#asignarPlantin span.tt{
  display: none;
  position: absolute;
  right: 50px;
  top: 25px;
  width: 190px;
  color: #fff;
  background: rgba(0,0,0,0.7);
  padding: 2px 0;
  border-radius: 11px;
}
#asignarPlantin:hover span.tt{
  display: block;
}
#asignarPlantin svg-icon {
  width: 30px;
  height: 30px;
}slider-box {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
slider-box > article{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: white;
    transition: opacity .3s linear;
    opacity: 0;
    height: 100%;
}
slider-box > article.active {
  opacity: 1;
  z-index: 9;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.de-izq {
  transform: translate3d(-100%, 0, 0);
}
.de-izq.active {
  transform: translate3d(0, 0, 0);
  animation: deizq .3s ease-out;
}
@keyframes deizq {
  0% {
    transform: translate3d(-100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-der {
  transform: translate3d(100%, 0, 0);
}
.de-der.active {
  transform: translate3d(0, 0, 0);
  animation: deder .3s ease-out;
}
@keyframes deder {
  0% {
    transform: translate3d(100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-arr {
  transform: translate3d(0, -100%, 0);
}
.de-arr.active {
  transform: translate3d(0, 0, 0);
  animation: dearr .3s ease-out;
}
@keyframes dearr {
  0% {
    transform: translate3d(0,-100%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.de-arr-s {
  transform: translate3d(0, -100%, 0);
}
.de-arr-s.active {
  transform: translate3d(0, 0, 0);
  animation: dearrs .2s ease-out;
}
@keyframes dearrs {
  0% {
    transform: translate3d(0,-10%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

button#ingresarBtn:hover{
  background: #EFEFEF;
}
button#ingresarBtn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 10px;
  border: none;
  background: white;
  border-radius: 5px;
  color: #000;
  padding: 4px 8px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

button#ingresarBtn svg-icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #75CFF0;
  border: 1px solid #75CFF0;
  margin-right: 5px;
  overflow: hidden;
}

button#ingresarBtn svg-icon use{
  fill:#fff;
  transform: scale(1.8) translate(-4.5px, -3px);
}

#popUpHome a.social{
  border-radius: 3px;
  display: flex;
  margin: 6px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding: 4px;
  border:1px solid;
  cursor: pointer;
}

#popUpHome a.social use{
  fill:#fff;
}

#popUpHome a.social.fb:hover{
  background:  #2D59A2;
}
#popUpHome a.social.fb{
  background: #47c;
  border-color: #2D59A2;
}

#popUpHome a.social.tw:hover{
  background:  #0AC;
}
#popUpHome a.social.tw{
  background: #0cf;
  border-color: #0AC;
}

#popUpHome a.social.gl:hover{
  background:  #AF3527;
}
#popUpHome a.social.gl{
  background: #d43;
  border-color: #AF3527;
}


#loginForm{
    border-top: 1px solid #EFEFEF;
    margin-top: 20px;
}
.registrate{
    font-size: 13px;
    color: #555;
    position: relative;
    margin: 8px 0 0;
    cursor: pointer;
    text-align: right;
}

.registrate:hover{
  text-decoration: underline;
}
.nueva-cuenta:hover{
  background: #637588
}
.nueva-cuenta{
  background: #819BB7;
  font-size: 13px;
  margin: 10px 0;
  border-color: #637588;
  font-weight: bold;
}
#signupForm .info{
  border-top: 1px solid #EFEFEF;
  padding-top: 10px;
}
.info{
  font-size: 13px;
  color: #777;
  position: relative;
  margin: 8px 0 0;
  text-align: center;
}