h-tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  background: white;
  display: flex;
  flex: 1;
  background: #EAEAEA;
}
.tab {
  flex: 1;
   
}
.tab label:hover {
  background: #DCDCDC;
}
.tab label {
  color: #444;
  font-size: 15px;
  flex: 1;
  border: none;
  background: #CACACA;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
  height: 60px;
}

.tab label svg-icon{
  display: block;
  width: 25px;
  height: 25px;
}

.tab label use{
  fill: #444;
}
.tab [type=radio] {
  display: none;   
}
.action-content {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin-top: 61px;
  border-left: 1px solid #B5B5B5;
  opacity: 0;
}

[type=radio]:checked ~ label {
  z-index: 2;
  background: #EAEAEA;
  border-bottom:none;
  cursor: initial;
}
[type=radio]:checked ~ label ~ .action-content {
  z-index: 1;
  opacity: 1;
}