<event-pop id="festival_pop">
  <section>
    <div class="small-pop">
      <svg-icon type="calendar.11"></svg-icon>
      <h1>Festival de plantación</h1>
    </div>
    <svg-icon type="mas"></svg-icon>
    <article>
      <div class="expanded-pop-wrapper">
        <header>
              <h1>Festival de plantación</h1>
              <p class="info">
                <svg-icon type="lugar"></svg-icon>
                Eco aldea Velatropa, Ciudad Universitaria.
              </p>
              <p class="info">
                <svg-icon type="reloj"></svg-icon>
                Domingo 11 de septiembre, 12:00 am
              </p>
              <svg-icon type="close"></svg-icon>
              <button id="asignarPlantin" data-id="asignarPlantin" class="hide">
                <svg-icon type="plantin"></svg-icon>
                <span class="tt">Asignar arboles a este evento</span>
              </button>
        </header>
        <div class="expanded-pop-content">
          <slider-box id="eventoPopContent">
            <article data-id="introSlide" data-enter="de-izq" class="de-izq active intro-wrapper">
              <p class="info">Queremos motivar a las personas a ser actores de cambio para vivir en un mundo más saludable.</p>
              <p>A partir de los rituales de siembra que ofrecimos en recitales, encuentros y talleres se fue creando una gran red de cultivadores de árboles nativos y comestibles.</p>
              <p>Queremos que esos arbolitos se conviertan en un bosque. Por eso estamos organizando plantaciones colectivas, cuando los arbolitos hayan crecido y estén listos para ir a tierra.</p>
              <button data-id="verCronogramaBtn">
                Cronograma
                <svg-icon type="caret.right"></svg-icon>
              </button>
            </article>
            <article data-id="cronoSlide" data-enter="de-der" class="cronograma-wrapper">
              <button id="volver_a_intro" data-id="volverAIntro">
                <svg-icon type="caret.left"></svg-icon>
                volver
              </button>
              <div class="fila-crono">
                <span class="hora-crono">12:00</span>
                <span class="linea-crono"></span>
                <div class="content-crono">
                  <h2>Nos juntamos</h2>
                  <p>Empezamos con una pequeña reunion para contabilizar los arboles y organizar la jornada.</p>
                </div>
              </div>
              <div class="fila-crono">
                <span class="hora-crono">12:30</span>
                <span class="linea-crono"></span>
                <div class="content-crono">
                  <h2>Charla</h2>
                  <p>El colectivo huertero nos explicará como podemos tomar acción en comunidad.</p>
                </div>
              </div>
              <div class="fila-crono">
                <span class="hora-crono">13:00</span>
                <span class="linea-crono"></span>
                <div class="content-crono">
                  <h2>Musica</h2>
                  <p>Perota Chingo estara tocando y al final haremos una siembra colectiva.</p>
                </div>
              </div>
              <div class="fila-crono">
                <span class="hora-crono">15:00</span>
                <span class="linea-crono"></span>
                <div class="content-crono">
                  <h2>Plantación</h2>
                  <p>Ahora si! a laburar!</p>
                </div>
              </div>
            </article>
            <article data-id="asignSlide" data-enter="de-arr" class="asignación-wrapper">
              asignacion de arboles
            </article>
          </slider-box>
        </div>
        <div class="expanded-pop-footer">
          <button id="ver_evento_facebook">
            <svg-icon type="social.facebook"></svg-icon>
            Evento en facebook
          </button>
          <button id="quiero_ayudar">Quiero ayudar</button>
        </div>
      </div>
    </article>
  </section>
</event-pop>