<article id="mapPopUp">
  <header>
    <h1>Festival de plantación colectiva</h1>
    
  </header>
  <div id="mapPopUp_datos">
    <p>
      <svg-icon type="calendar"></svg-icon>
      Domingo 11 de septiembre
    </p>
    <p>
      <svg-icon type="reloj"></svg-icon>
      12:00 AM
    </p>
    <p>
      <svg-icon type="lugar"></svg-icon>
      Ciudad universitaria, Ecoaldea Velatropa
    </p>
  </div>
  <p>
    Queremos que esos arbolitos se conviertan en un bosque. Por eso estamos organizando una plantada colectiva dentro de un año, cuando los arbolitos crezcan y estén listos para ir a tierra.
    <br><button id="ver_cronograma">Ver cronograma</button>
  </p>
  <ul id="cronograma" class="hide">
    <li>12:00 a 13:00 - Charla</li>
    <li>13:00 a 15:00 - Musica</li>
    <li>13:00 a 17:00 - Plantación</li>
  </ul> 
  <div id="mapPopUp_action">
    <button data-id="quieroAyudar" id="quiero_ayudar">
      Quiero ayudar
    </button>
    <button id="ver_evento_facebook">
      <svg-icon type="social.facebook"></svg-icon>
      Ver evento en Facebook
    </button>
  </div>
</article>