<event-pop id="festival_pop">
  <section>
    <div class="small-pop">
      <svg-icon type="calendar.11"></svg-icon>
      <h1>Festival de plantación</h1>
    </div>
    <svg-icon type="mas"></svg-icon>
    <article>
      <div class="expanded-pop-wrapper">
        <header>
              <h1>Festival de plantación</h1>
              <p class="info">
                <svg-icon type="lugar"></svg-icon>
                Eco aldea Velatropa, Ciudad Universitaria.
              </p>
              <p class="info">
                <svg-icon type="reloj"></svg-icon>
                Domingo 11 de septiembre, 12:00 am
              </p>
              <svg-icon type="close"></svg-icon>
        </header>
        <div class="expanded-pop-content">
          <div class="cronograma-wrapper">
            <div class="fila-crono">
              <span class="hora-crono">12:00</span>
              <span class="linea-crono"></span>
              <div class="content-crono">
                <h2>Charla</h2>
                <p>Mateo Pirulo va a venir a dar una charla de ecologia, sabe bocha el tipo.</p>
              </div>
            </div>
            <div class="fila-crono">
              <span class="hora-crono">13:00</span>
              <span class="linea-crono"></span>
              <div class="content-crono">
                <h2>Charla</h2>
                <p>El colectivo huertero nos explicará como podemos tomar acción en comunidad.</p>
              </div>
            </div>
            <div class="fila-crono">
              <span class="hora-crono">14:00</span>
              <span class="linea-crono"></span>
              <div class="content-crono">
                <h2>Musica</h2>
                <p>Perota Chingo estara tocando y al final haremos una siembra colectiva.</p>
              </div>
            </div>
            <div class="fila-crono">
              <span class="hora-crono">16:00</span>
              <span class="linea-crono"></span>
              <div class="content-crono">
                <h2>Plantación</h2>
                <p>Ahora si agarramos las palas y a laburar!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="expanded-pop-footer">
          <button id="ver_evento_facebook">
            <svg-icon type="social.facebook"></svg-icon>
            Ver evento en facebook
          </button>
          <button id="quiero_ayudar">Quiero ayudar</button>
        </div>
      </div>
    </article>
  </section>
</event-pop>